<?xml version="1.0" encoding="utf-8" ?>
<ClientUIFramework>
	<LoadAddinsOnStartup>1</LoadAddinsOnStartup>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Admin.NewResponsibility.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Admin.NewResponsibility.UIFrameworkResp</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
<Addin>
    <DllName>Thyt.TiPLM.UIL.DeskMain.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.DeskMain.UIFrameworkDeskMain</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Product.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Product.UIFrameworkFolder</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
	<Addin>
		<DllName>Thyt.TiPLM.UIL.Product.dll</DllName>
		<AddinInterfaceName>Thyt.TiPLM.UIL.Product.UIFrameworkProduct</AddinInterfaceName>
		<LoadAddin>1</LoadAddin>
	</Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.TiMessage.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.TiMessage.UIFrameworkMessage</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.CLT.Admin.BPM.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.CLT.Admin.BPM.UIFrameworkBPM</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
 
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Product.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Product.UIFrameworkResource</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.PPM.PPCard.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.PPM.PPCard.UIFrameworkPPM</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Search2.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Search2.UIFrameworkSearch</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Report.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Report.UIFrameworkReport</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Report2.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Report2.UIFrameworkReport</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Project2.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Project2.UIFrameworkProject</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Addin.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Addin.UIFrameworAddin</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
    <ApplayLayout>0</ApplayLayout>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.ClientPortal.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.ClientPortal.UIFrameworkClientPortal</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
 
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Decision.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Decision.UIFrameworkDecisionMain</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>TiDesk.exe</DllName>
    <AddinInterfaceName>Thyt.TiPLM.CLT.TiDesk.UIFrameworkMain</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.ArchivManage.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.ArchivManage.UIFrameworkArchivManage</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
  <Addin>
    <DllName>Thyt.TiPLM.UIL.Order.dll</DllName>
    <AddinInterfaceName>Thyt.TiPLM.UIL.Order.UIFrameworkOrder</AddinInterfaceName>
    <LoadAddin>1</LoadAddin>
  </Addin>
</ClientUIFramework>
