<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<!--   此处显示用户应用程序和配置的属性设置。-->
		<!--   示例：<add key="settingName" value="settingValue"/> -->
		<!--	For Main Menus		-->
		<!--	MessageMenu		-->
		<add key="ViewMessageItem.Text" value="察看消息"/>
		<add key="DeleteMessageItem.Text" value="删除消息"/>
		<add key="RefreshMessageItem.Text" value="刷新列表"/>
		<add key="ReplyMessageItem.Text" value="回复消息"/>

		<!--	Contact		-->
		<add key="SendMessageItem.Text" value="发送消息"/>
		<add key="SendObjectItem.Text" value="发送对象"/>
		<add key="ViewDetailItem.Text" value="详细资料"/>
		
		<!--	Main	-->
		<add key="LogoffItem.Text" value="退出服务"/>
		<add key="ChangeUserItem.Text" value="更改用户"/>
		<add key="LogonUserItem.Text" value="登录服务"/>
		<add key="ConfigItem.Text" value="配置服务"/>
		
	    <!--	Remoting	-->
	    <add key="ChannelType" value="tcp://"/>
	    <add key="PortNum" value="8899"/>
		<add key="ServerURL" value="tcp://localhost:8900/MessageServer"/>
		
		<!--	WindowMain	-->
		<add key="ContactTitle" value="联系人"/>
		<add key="FolderTitle" value="文件夹"/>
		<add key="UserLogon" value="上线了！！"/>
		<add key="MessageArrived" value="有消息！！"/>
		<add key="Attention" value="注意："/>
		
		<!--	Contact		-->
		<add key="OrgContact" value="组织"/>
		
		<!--	PrinterCenter	-->		
		<add key="IDEAS_REG" value="SOFTWARE\\SDRC\\I-DEAS Master Series\\7.00.000"/>
		<add key="IDEAS_DRAFTING" value="\bin\drafting.cmd"/>
		<add key="IDEAS_ARGS" value=" -m "/>
		<add key="PLT_PATH" value="C:\pltfiles\"/>

	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>